<%= @user.email %>

<hr>


<% @posts.each do |post| %>
    <%= post.title %><br>
    <%= post.content %><br>
    <% comments = post.comments%>
  <% if post.pic.attached? %>
    <%= image_tag(post.pic, size: "300x300") %>
  <% end %>

 <div>
 <% like = Like.where('post_id = ?', post.id) %>
 <p>Likes : <%= post.likes.size %> </p>
    <% arr = [] %>
        <% like.each do |l| %>
        <% arr << l.user_id %>
        <% end%>
        
        <% if arr.include?(current_user.id) %>
            <%= 'liked' %>
            <%= link_to 'dislike', "/dislike/#{post.id}", method: :delete %>
            <% else %>
              <%= link_to 'like', "/like/#{post.id}", method: :post %>
        <% end %>

 </div>

  <% comments.each do |c|%>
  <%= c.author %>:
  <%= c.comment %><br>
  <%end%>
  <h2>Add a comment:</h2>
<%= form_with(model: @post, url: '/comment', method: :post,  local: true) do |form| %>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
    <%= form.hidden_field :post_id, value: post.id %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
 
    <hr>
<% end %>
