<div style="text-align: center;">
<%= link_to 'Main page', '/', class: "btn btn-outline-primary" %>
</div>
<br>
<hr>
<% @users.each do |user| %>
  <% if user.avatar.attached? %>
    <%= image_tag(user.avatar, size: "100x100") %>
  <% end %>
    <%= link_to "#{user.email}" , "user/#{user.id}", class: "btn btn-outline-info" %>
    <br>
    <%fol = Follower.where('followed_user = ?', user.id) %>
    <% arr = [] %>
        <% fol.each do |f| %>
        <% arr << f.follower %>
        <% end%>
        
        <% if arr.include?(current_user.id) %>
            <%= 'followed' %>
            <%= link_to 'unfollow', "/unfollow/#{user.id}", method: :delete %>
            <% else %>
             <%= link_to 'follow', "follow/#{user.id}" %>
        <% end %>
        
    <hr>
<% end %>

