<% if user_signed_in? %>

<%= current_user.email %>
	
<% if current_user.avatar.attached? %>

<%= image_tag(current_user.avatar, size: "300x300") %>

<% end %>
<%= link_to 'main', '/'%>
<div>
<h4>Users i follow</h4>
<% @followers.each do |f| %>
  <%= f.email %>
  <%= link_to 'user', "user/#{f.id}" %>
  <%= link_to 'unfollow', "/unfollow/#{f.id}", method: :delete %>
    <br>
<% end %>
</div>


<% end %>

<div>
<h2>Create new post</h2>
<%= link_to 'Add new post', '/posts/new'%>
</div>



<hr>
<div>
  <h2>My posts:</h2>
</div>
<% @posts.each do |post| %>

<%= post.title %> <br>
<%= post.content %> <br>

  <% if post.pic.attached? %>
    <%= image_tag(post.pic, size: "500x300") %>
  <% end %>
  <%= link_to 'delete post', post_path(post), method: :delete %>
<br>
<%= 'Comments: '%>
<br>
<% comments = post.comments %>
  <% comments.each do |c| %>
    <%= c.author %>:
    <%= c.comment %>
    <br>
  <% end %>
<hr>
<% end %>