<h1>Edit new post</h1>

<%= form_with( model: @post , local: true )  do |f| %>
<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
   <%= f.label 'title'%>
  <%= f.text_field(:title) %>
  <br>
  <%= f.label 'text'%>
  <%= f.text_area(:content, size: "50x10")%>
  <br>
  <%= f.label 'add photo'%>
  <%= f.file_field(:pic) %><br>
  <br>
  <%= link_to 'delete photo', "/pic_delete/#{@post.id}", method: :delete, class: "btn btn-outline-secondary btn-sm" %>
  <br>
  <%= f.submit "Save" %>
<%end%>

<%= @post.id %>